<h1>Editing Regulatory Information</h1>

<%= render 'form', regulatory_information: @regulatory_information %>

<%= link_to 'Show', @regulatory_information %> |
<%= link_to 'Back', regulatory_informations_path %>
